<div class="movieContainer">
  <div class="row">
    <div class="col thumb" ng-click="latestItem('latest')">
      <div class="thumbContant">
        <div class="imagesThumb"> <img ng-src='http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Latest}}' alt=""> </div>
        <div class="titleThumb">Latest <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </div>
    <div class="col thumb" ng-click="latestItem('comedy')">
      <div class="thumbContant">
        <div class="imagesThumb"> <img ng-src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Comedy}}" alt=""> </div>
        <div class="titleThumb">Comedy <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col thumb" ng-click="latestItem('thriller')">
      <div class="thumbContant">
        <div class="imagesThumb"> <img src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Thriller}}" alt=""> </div>
        <div class="titleThumb">Thriller <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </div>
    <div class="col thumb" ng-click="latestItem('love story')">
      <div class="thumbContant">
        <div class="imagesThumb"> <img src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages['Love Story']}}" alt=""> </div>
        <div class="titleThumb">Love Story <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col thumb" ng-click="latestItem('drama')">
      <div class="thumbContant">
        <div class="imagesThumb"> <img src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Drama}}" alt=""> </div>
        <div class="titleThumb">Drama <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </div>
    <div class="col thumb" ng-click="latestItem('action')">
      <div class="thumbContant">
        <div class="imagesThumb"> <img src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Action}}" alt=""> </div>
        <div class="titleThumb">Action <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </div>
  </div>
</div>
